<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form (ngSubmit)="addNewUser()">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="email" id="email" name="email" required [(ngModel)]="email">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" id="password" name="password" required [(ngModel)]="password">
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Repeat password" id="confirm_password" name="password" required>
                </div>
                <button type="submit" class="btn btn-block btn-success">Create Account</button>
              </form>
            </div>
            <div style="color:red;font-weight:bold;margin-bottom:10px;margin-left:12px" #invalidMsg></div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
