<div class="card p-4 card-body">
<div class="tools">
<div id='searchBarContainer'>
  <button class="btn btn-success" (click)="reload()" *ngIf="wikiResults" id="searchAgainBtn">
    Would you like to search again?
  </button>
  <form (ngSubmit)="search()" *ngIf="!wikiResults">
    <div class="form-group">
      <label for="search" #title>Wikipedia Search</label>
    </div>
    <span id='search'>
      <input type="text" class="form-control" id="search" name="searchText"
             placeholder='Enter search term...' required [(ngModel)]='searchText' autofocus>
      <button type="submit" class="btn btn-primary" id='searchBtn'>Search</button>
    </span>
  </form>
  <br>
  <br>
</div>

<div id='languageContainer'>
  <div class="form-group">
    <label>Language</label>
  </div>
  <select [(ngModel)]='language'>
    <option value="en">English</option>
    <option value="es" selected>Spanish</option>
    <option value="fr">French</option>
    <option value="ar">Arabic</option>
    <option value="ja">Japanese</option>
  </select>
  <br>
  <br>
</div>
</div>

<div id='resultContainer'>
  <div *ngIf="!wikiResults" id='instructions'>
    <p>
      <h4>Translator-App Instructions:</h4>
      <ol>
        <li><i>Search: </i>Type the article you'd like to translate in the search bar above.</li>
        <br>
        <li><i>Translate: </i>Then, select the language from the drop down menu and click
          the translate button that appears next to your search results.</li>
      </ol>
  </div>
  <div *ngIf="wikiResults">
    <h3>{{wikiResults.title}}</h3>
    <app-text-section *ngFor="let text of wikiText" [text]="text" [language]="language">
    </app-text-section>
  </div>
</div>
</div>
